
<div class=" button-add">
<button pButton type="button"icon="pi pi-plus-circle" severity="warn" (click)="showAddDialog()" >Agregar</button>
</div>
<div class="button-search">
<p-iconfield>
    <p-inputicon styleClass="pi pi-search" />
    <input type="text" pInputText placeholder="Buscar" />
    
</p-iconfield>
<button pButton type="button" icon="pi pi-search"severity="info">Buscar</button>
</div>
<p-table [value]="patients" [paginator]="true" [rows]="5" [tableStyle]="{'min-width': '50rem'}">
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="id">ID <p-sortIcon field="id"></p-sortIcon></th>
      <th pSortableColumn="full_name">Nombre Completo <p-sortIcon field="full_name"></p-sortIcon></th>
      <th pSortableColumn="identification_number">Identificación <p-sortIcon field="identification_number"></p-sortIcon></th>
      <th pSortableColumn="phone_number">Teléfono <p-sortIcon field="phone_number"></p-sortIcon></th>
      <th pSortableColumn="emergency_phone_number">Tel. Emergencia <p-sortIcon field="emergency_phone_number"></p-sortIcon></th>
      <th pSortableColumn="email">Correo <p-sortIcon field="email"></p-sortIcon></th>
      <th pSortableColumn="address">Dirección <p-sortIcon field="address"></p-sortIcon></th>
      <th pSortableColumn="age">Edad <p-sortIcon field="age"></p-sortIcon></th>
      <th pSortableColumn="created_at">Creado el <p-sortIcon field="created_at"></p-sortIcon></th>
      <th>Acciones</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-patient>
    <tr>
      <td>{{ patient.id }}</td>
      <td>{{ patient.full_name }}</td>
      <td>{{ patient.identification_number }}</td>
      <td>{{ patient.phone_number }}</td>
      <td>{{ patient.emergency_phone_number }}</td>
      <td>{{ patient.email }}</td>
      <td>{{ patient.address }}</td>
      <td>{{ patient.age }}</td>
      <td>{{ patient.created_at}}</td>
      <td>
  <button pButton type="button" outlined="true" icon="pi pi-pen-to-square" severity="warn" class="p-mr-2 button-custome" ></button>
  <button pButton type="button"outlined="true" icon="pi pi-trash" class="p-button-danger button-custome" ></button>
</td>
    </tr>
  </ng-template>
</p-table>

<p-dialog header="Agregar Paciente" [(visible)]="displayAddDialog" [modal]="true" 
          [style]="{width: '50vw', 'min-width': '300px'}" [breakpoints]="{'960px': '75vw', '640px': '90vw'}"
          [draggable]="false" [resizable]="false" class="elegant-dialog">

  <div class="p-fluid elegant-form">
   
    <div class="field mb-4">
      <span class="p-float-label">
        <label for="full_name">
          <i class="pi pi-user mr-2"></i>Nombre Completo
        </label>
         <input id="full_name" type="text" pInputText [(ngModel)]="newPatient.full_name" 
               class="w-full"  />
      </span>
      
    </div>
    <div class="grid mb-4">
      <div class="col-12 md:col-4">
        <div class="field">
          <span class="p-float-label">
            <label for="identification_number">
              <i class="pi pi-id-card mr-2"></i>Identificación
            </label>
             <p-inputnumber id="full_name"  mode="decimal" inputId="withoutgrouping" [useGrouping]="false" [(ngModel)]="newPatient.identification_number" 
               class="w-full"  />
          </span>
        </div>
      </div>
      
      <div class="col-12 md:col-4">
        <div class="field">
          <span class="p-float-label">
           
            <label for="phone_number">
              <i class="pi pi-phone mr-2"></i>Teléfono
            </label>
             <p-inputnumber id="phone_number" mode="decimal" inputId="withoutgrouping" [useGrouping]="false"
                   [(ngModel)]="newPatient.phone_number" class="w-full" />
          </span>
        </div>
      </div>
      
      <div class="col-12 md:col-4">
        <div class="field">
          <span class="p-float-label">
            <label for="emergency_phone_number">
              <i class="pi pi-exclamation-circle mr-2"></i>Tel. Emergencia
            </label>
            <p-inputnumber id="emergency_phone_number" mode="decimal" inputId="withoutgrouping" [useGrouping]="false"
                   [(ngModel)]="newPatient.emergency_phone_number" class="w-full" />
          </span>
        </div>
      </div>
    </div>

    <div class="grid mb-4">

      <div class="col-12 md:col-4">
        <div class="field">
          <span class="p-float-label">
          <label for="email">
              <i class="pi pi-envelope mr-2"></i>Email
            </label>
            <input id="email" type="email" pInputText [(ngModel)]="newPatient.email" class="w-full" />
       </span>
        </div>
      </div>
      
      <div class="col-12 md:col-4">
        <div class="field">
          <span class="p-float-label">
            <label for="address">
              <i class="pi pi-home mr-2"></i>Dirección
            </label>
            <input id="address" type="text" pInputText [(ngModel)]="newPatient.address" 
                   class="w-full" />
          </span>
        </div>
      </div>
      
      <div class="col-12 md:col-4">
        <div class="field">
          <span class="p-float-label">
            <label for="age">
              <i class="pi pi-calendar mr-2"></i>Edad
            </label>
            <p-inputnumber id="age" inputId="integeronly"[(ngModel)]="newPatient.age" 
                   class="w-full" min="0" max="120" />
            
          </span>
        </div>
      </div>
    </div>
  </div>

  <ng-template pTemplate="footer">
    <button pButton type="button" label="Cancelar" icon="pi pi-times" 
            class="p-button-outlined p-button-secondary" (click)="cancelAdd()"></button>
    <button pButton type="button" label="Guardar" icon="pi pi-check" 
            class="p-button-success" 
           ></button>
  </ng-template>
</p-dialog>