
<p-toolbar class="toolbar">
  <div class="header-container">
    
    <div class="saludo-container">
      <h1 class="saludo">¡Hola, Buenos Días!</h1>
    </div>

    <div class="logo-container">
      <img src="assets/images/marca-halo-terapia.png" alt="Halo Terapia" class="logo">
    </div>

    <div class="right-space">
      <!-- Espacio para futuros elementos -->
    </div>

    <!-- <div class="button-container">
      <button pButton icon="pi pi-user" label="Perfil" class="p-button-rounded p-button-text"></button> 
      

    </div> -->
  </div>
</p-toolbar>